.root {
	display: flex;
	justify-content: center;
	gap: 10px;

	li {
		border-radius: 30px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border: 1px solid #fe5f1e;
			cursor: pointer;
			border-radius: 30px;

			&:hover {
				background-color: #fe5f1e;
				color: #fff;
			}
		}
	}
	:global {
		.selected {
			background-color: #fe5f1e;

			a {
				color: #fff;
			}
		}
	}
}
